.form-container {
    /* height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center; */
    width: 38%;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #dcdcdc;
    padding: 8px;
  }

  .form header {
    background-color: black;
    color: white;
    padding: 10px;
  }

  .form-group {
    display: inherit;
    margin-top: 7px;
  }

  .form-group label {
    display: inline-block;
    width: 38%;
    text-align: left;
    vertical-align: middle;
    padding-left: 5px;
  }

  .form-group input, .form-group textarea, .form-group select {
    padding: 5px;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 50%;
    display: inline-block;
  }

  .cb-container {
    padding: 5px;
    padding-left: 0;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 0;
    /* width: 58%; */
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
  }

  input[type=checkbox]{
    width: 20px;
    margin-left: 0;
  }

  .submit {
    padding: 10px;
    font-size: 18px;
    margin: 10px 0 10px 79%;
    border: none;
    color: white;
    background-color: black;
    width: 4em;
  }
 
 