.form-container {
    /* height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center; */
    width: 38%;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #dcdcdc;
    padding: 8px;
  }

  .form header {
    background-color: black;
    color: white;
    padding: 10px;
  }

  .form-group label {
    display: inline-block;
    width: 8em;
    text-align: left;
    vertical-align: top;
  }

  .form-group input, .form-group textarea {
    padding: 5px;
    font-size: 14px;
    margin-bottom: 5px;
    width: 58%;
  }

  .submit {
    padding: 10px;
    font-size: 18px;
    margin: 10px 0 10px 79%;
    border: none;
    color: white;
    background-color: black;
    width: 4em;
  }
 
  .form div {
    margin-top: 7px;
  }