.strip {
display: flex;
justify-content: space-between;
color: #444;
width: 90%;
padding: 10px 4%;
font-size: larger;
}

.link {
color: #444;
text-decoration: none;
padding: 4px;
margin: 10px;
border-color: #fff;
border-width: 1px;
border-style: solid;
transition: 200ms;
}

.link:hover {
    color: #000;
    border-color: #444;
}

.link:hover, .selected:hover, button:hover {
    background-color: #efefef;
}

.selected {
    color: #000;
    text-decoration: none;
    padding: 4px;
    margin: 10px;
    border-color: #444;
    border-width: 1px;
    border-style: solid;
    transition: 200ms;
    }

button {
    font-size: 19px;    
    border: none;
    background-color: white;
}



