.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}

ul {
    font-size: 20px;
    width: 40%;
}

li {
    list-style: none;
    margin: 2px 2px;
}