.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}

ul {
    font-size: 20px;
    width: 45%;
    margin-right: 1em;
    margin-top: 0; 
    padding-left: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.list-item {
    width: 10em;
    list-style: none;
    display: flex;
    
    margin: 2px 2px;
    border: solid 2px gray; 
    color: #444;
    text-decoration: none;
    padding: 4px;
    transition: 200ms;
}
    
.list-item:hover {
    color: #000;
    background-color: #efefef;
}

.list-item:hover .del {
    display: contents;
}

.list-item-link  {
    display: block;
    width: 90%;
}

.del {
    color: #d44;
    display: none;
    font: 12pt bold;
}

.del:hover {
    color: magenta;
    cursor: pointer;
}

.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 45%;
    margin-bottom: 1em;
}

.filter-text {
    margin-right: 1em;
}

.submit:hover {
    background-color: #333;
}