

.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 45%;
    margin-bottom: 1em;
}

.filter-text {
    margin-right: 1em;
}

.submit:hover {
    background-color: #333;
}

.add-link {
    border: solid 2px gray; 
    padding: 2px;
}

.add-link:hover {
    background-color: #efefef;
}